@font-family-base: 'Inter', sans-serif;
@font-size-base: 14px;
@font-size-lg: 24px;

@color-primary: #01589b;
@color-primary-hover: #003e6e;
@color-secondary: #f3f2f1;
@color-danger: #d83b01;
@color-ghost: transparent;
@color-info: #0178d4;
@color-success: #107c10;
@color-warning: #ffb900;
@color-disabled: #dddddd;

@spacing-xs: 4px;
@spacing-sm: 8px;
@spacing-md: 16px;
@spacing-lg: 24px;

@border-radius-sm: 4px;
@border-radius-md: 8px;
@border-color: #ddd;

@text-color: rgba(67, 67, 67, 0.867);
